.card {
    width: 20rem;
    height: 15rem;
    aspect-ratio: 2/1;
    padding: 2rem;
    font-size: 1rem;
    background-color: var(--card-bg);
    box-shadow: 5px 5px 0 var(--lime);
    margin: 2rem 1rem;
    border-radius: 1rem;
    transition: 0.2s;
    border: 0px solid var(--lime);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header {
    font-size: 1.5rem;
}

.description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card:hover {
    background-color: var(--card-bg-highlight);
    /* border: 2px solid var(--lime); */

    cursor: pointer;
}

.animatedBorderSvg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    transform: rotate(180deg);
}

.animatedBorderSvg rect {
    fill: none;
    stroke: var(--lime);
    stroke-width: 1;
    stroke-dasharray: 380; /* perimeter of the rect */
    stroke-dashoffset: 380;
    stroke-linecap: circle;
    rx: 4;
    ry: 4;
    transition: stroke-dashoffset 1s cubic-bezier(0.11, 0, 0.11, 1);
}

.card:hover .animatedBorderSvg rect {
    stroke-dashoffset: 2;
}

.description {
    overflow: auto;
}
