/* .module-box:hover {
  cursor: pointer;
  background-color: #f9e3ff;
} */

/* .container {
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  margin-top: 10rem;
} */

.module-box {
  width: 70%;
  padding: 3rem;
  /* background-color: #fff; */
  box-shadow: 5px 5px 0 rgb(71, 71, 71);
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  transition: 0.25s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.module-box-menu {
  width: 40rem;
  height: 25rem;
  padding: 3rem;
  /* background-color: #fff; */
  box-shadow: 5px 5px 0 rgb(71, 71, 71);
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.25s;
  flex-direction: column;
  justify-content: center;
}

.module-picture {
  width: 15rem;
  /* overflow: hidden; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module-picture img {
  width: 10rem;
  object-fit: cover;
  object-position: center;
}

.module-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* .box {
  width: 50rem;
  height: 35rem;
  transition: 0.3s;
  position: relative;
  padding: 3rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
  border-radius: 2rem;
  color: var(--text); */

/* border: 10px solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem; */
/* } */

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2rem;
  /* filter: url(#noiseFilter); */
  opacity: 0.7; /* Only the background becomes transparent */
  z-index: -1;
}

.box p {
  font-size: 1.5rem;
}

/* For coloring each box in order (nth-child) */
.box:nth-child(1):before {
  background-color: var(--lime);
}

.sifthr-button {
  border: none;
  background-color: var(--lime);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: transform 0.08s, opacity 1s;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  width: 70%;
  color: black;
  position: relative;
}

/* Hover effect */
.sifthr-button:hover {
  box-shadow: 0 0.25rem 0 var(--purple);
  background-color: rgb(214, 226, 51);
  transform: translateY(-5px);
}

/* Active effect that keeps the animation for 0.5s */
.sifthr-button:active {
  transition: 0.025s;
  box-shadow: 0 0rem 0 var(--purple);
  background-color: rgb(214, 226, 51);
  transform: translateY(0px);
}

.module-details {
  width: 100%;
}

.multiple-choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  gap: 4rem;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-grow: 1;
}

.nextPrev {
  display: flex;
  gap: 2rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: var(--purple);
  /* color: white; */
  transform: translateY(2px);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.quiz-score {
  font-size: 4rem;
  font-weight: bold;
}

.custom-button {
  font-size: 1rem;
  bottom: 0;
}
