.module-container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    transition: 0.25s;
    width: 100%;
    height: 50rem;
}

.search-box-container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    background: linear-gradient(
        180deg,
        rgb(46, 27, 59) 60%,
        rgba(255, 255, 255, 0) 100%
    );
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.search-box {
    border: none;
    background-color: var(--card-bg);
    border-radius: 5rem;
    width: 40%;

    box-shadow: 5px 5px 0 var(--purple);
    font-size: 1.2rem;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 1rem;
}

.search-box:focus-within {
    border: 2px solid var(--purple);
}

.search-box input::placeholder {
    color: var(--text);
}

.search-box svg {
    position: absolute;
    top: 50%;
    left: 92%;
    transform: translate(-50%, -50%);
}

.module-quiz-box {
    width: 90%;
    height: 90%;
    /* padding: 2rem; */
    background-color: var(--box-bg);
    box-shadow: 5px 5px 0 var(--lime);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    border: inset 5px 5px 0 rgb(169, 125, 173);
    border-radius: 1rem;
}

.module-quiz-collection {
    z-index: 1;
    /*margin-top: 4rem;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.article-box {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-redirect {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    transition: 0.2s;
    /* flex: 1 1 0; */
    margin-left: auto;
    width: 30%;
}

.article-redirect p {
    font-size: 1.2rem;
}

.article-box:hover .article-redirect {
    color: var(--lime);
}
