.module-quiz-card {
  width: 80%;
  height: 10rem;
  aspect-ratio: 3/1;
}

.module-quiz-collection {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animatedBorderSvg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  transform: rotate(180deg);
}

.animatedBorderSvg rect {
  fill: none;
  stroke: var(--lime);
  stroke-width: 1;

  stroke-dasharray: 380; /* perimeter of the rect */
  stroke-dashoffset: 380;
  stroke-linecap: round;
  rx: 4;
  ry: 4;
  transition: stroke-dashoffset 1s cubic-bezier(0.11, 0, 0.11, 1);
}

.module-quiz-card:hover .animatedBorderSvg rect {
  stroke-dashoffset: 2;
}
